/*Css*/
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .navPrincipal .navbar {
    background-color: white; /* Fondo blanco para la barra de navegación */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para hacer una linea */
  }
  
  .navPrincipal .navbar-brand {
    font-size: 24px; /* Tamaño del logo y nombre del sitio */
    color: #0056b3; /* letra color azul */
    font-weight: bold; /* Nombre del sitio en negrita */
  }
  
  .navPrincipal .navbar-nav .nav-link {
    font-weight: bold; /* Enlaces en negrita */
  }
  
  .navPrincipal .navbar-nav .nav-link:hover {
    color: #0056b3; /*color azul al pasar el mouse por encima */
  }
  
  .navPrincipal .navbar-toggler {
    color: #0056b3;;
  }

  .navPrincipal .status-indicator {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }

  .navPrincipal .dropdown-menu {
    min-width: 60px;  /* Ajustar el ancho del menú */
  }

  .navPrincipal .dropdown-item {
      color: #0056b3; /* Color de texto azul*/
      font-size: 16px; 
      font-weight: bold;
  }

  .navPrincipal .dropdown-item:hover {
      color: #ffffff; /* Color blanco a las letras al pasar el mouse  */
      background-color: #0056b3; /* Fondo azul al pasar el mouse por encima */
  }

    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .Formulario h2 {
        color: #0056b3; /* Azul eléctrico para el título */
        text-align: center; /* Centrar el título */
    }


    .Formulario input, textarea {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .Formulario button {
        background-color: #0056b3;
        color: white;
        border: none; 
        padding: 10px 20px; 
        width: 100%; 
    }

    .Formulario button:hover {
        background-color: #004494;
    }


  .footer {
    background-color: #343a40; 
    padding: 20px 0;
  }

  .footer h5 {
    color: white; 
    margin-bottom: 20px;
  }

  .footer p, .footer a {
    color: #dddddd; 
    font-size: 15px; 
  }

  .footer a:hover {
    text-decoration: none;
  }


  @media (max-width: 576px) {

    .navPrincipal .navbar-collapse {
      text-align: center;
    }
    .navPrincipal .dropdown-menu {
      text-align: center;
    }
    
    .footer{
      text-align: center;
    }
  
  }

  @media (max-width: 768px) {
    .navPrincipal .navbar-collapse {
      text-align: center;
    }

    .navPrincipal .dropdown-menu {
      text-align: center;
    }
    
  }